includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 6
    paths:
        - app
        - database/factories
        - database/seeders
        - routes
    tmpDir: storage/framework/phpstan
    reportUnmatchedIgnoredErrors: false
